@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap')
	;

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAF9F6;
}

a {
	color: #000000;
}

button {
	padding: 12px 8px;
	cursor: pointer;
}

.primary {
	background-color: #ffffff;
	color: #000000;
}

.secondary {
	background-color: #000000;
	color: #ffffff;
}

.danger {
	background-color: #dc3545;
	color: #ffffff;
}

.navbar-container {
	max-width: 100%;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 16px 36px;
	align-items: center;
}

.navbar-logo {
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	margin-right: 20px;
}

.navbar-container-center {
	gap: 0px 20px;
	display: flex;
	gap: 0px 20px;
}

.navbar-container-center-element {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.navbar-container-right {
	display: flex;
	align-items: center;
}

.dropdown {
	cursor: pointer;
	line-height: 50px;
	position: relative;
	width: 120px;
	text-align: center;
	text-decoration: none;
	z-index: 1;
	transform: perspective(1000px);
}

.form-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.dropdown-menu {
	background-color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	opacity: 0;
	text-align: center;
	top: 0;
	visibility: hidden;
	z-index: -99999;
}

.dropdown-menu a {
	color: #000000;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	transition: all 0.3s;
}

.dropdown-menu a:hover {
	background: #000000;
	color: #ffffff;
}

.dropdown:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: 100%;
	width: 100%;
	-webkit-transition: all .5s, background, 2s .5s linear;
	transition: all .5s, background 2s .5s linear;
}

.toggle-menu {
	position: absolute;
	top: 1.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-menu .bar {
	height: 3px;
	width: 100%;
	background-color: #000000;
	border-radius: 10px;
}

.input-box {
	position: relative;
	width: 100%;
	max-width: 40px;
	height: 55px;
	background-color: #fff;
	border-radius: 6px;
	transition: all 0.5s ease-in-out;
}

.input-box.open {
	width: 100%;
	max-width: 80%;
}

.input-box input {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	border: none;
	border-radius: 6px;
	outline: none;
	transition: all 0.5s ease-in-out;
}

.input-box.open input {
	padding: 0 15px 0 65px;
}

.input-box .search {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 6px;
	cursor: pointer;
}

.input-box.open .search {
	border-radius: 6px 0 0 6px;
}

.search .search-icon {
	font-size: 30px;
	color: #1c1c1c;
}

#search-results {
	position: absolute;
	background-color: white;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	z-index: 1000;
}

#search-results div {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

#search-results div img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

#search-results div:hover {
	background-color: #f0f0f0;
}

.input-box.open {
	width: 100%;
}

.input-box .close-icon {
	position: absolute;
	top: 50%;
	right: -45px;
	font-size: 30px;
	color: #1c1c1c;
	padding: 5px;
	transform: translateY(-50%);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
}

.input-box.open .close-icon {
	transform: translateY(-50%) rotate(180deg);
	pointer-events: auto;
	opacity: 1;
}

@media ( max-width : 700px) {
	.toggle-menu {
		display: flex;
	}
	.navbar-container-center, .navbar-container-right {
		display: none;
	}
	.navbar-container {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-container-center, .navbar-container-right {
		margin: 0 auto;
		flex-direction: column;
	}
	.navbar-container-center.active, .navbar-container-right.active {
		width: 100%;
		display: flex;
		align-items: start;
	}
	.navbar-container-center-element {
		width: 100%;
		cursor: pointer;
		padding: 10px
	}
	.navbar-container-right-element {
		width: 100%;
		cursor: pointer;
		padding: 10px
	}
	.dropdown {
		padding-left: 10px;
		width: 120px;
		text-align: left;
	}
}

.main-content-container {
	padding: 36px;
}

.page-title {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 600;
	font-family: sans-serif;
}

.page-subTitle {
	margin-top: 40px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
}

.page-subTitle-extra {
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: underline;
}

.product-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 0px 20px;
	margin-bottom: 40px;
	overflow-x: auto;
	white-space: nowrap;
}

.product-card-container-dashboard {
	display: flex;
	gap: 0px 20px;
	margin-bottom: 40px;
	overflow-x: auto;
	white-space: nowrap;
}

.product-card-container-dashboard::-webkit-scrollbar {
	width: 2px;
	height: 5px;
}

.product-card-container-dashboard::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
	padding-top: 20px;
}

.product-card {
	display: flex;
	flex-direction: column;
	gap: 12px 0px;
}

.product-card-image-container {
	height: 300px;
	width: 300px;
	max-height: 300px;
	max-width: 300px;
}

.product-card-image {
	width: 100%;
	height: 100%;
	border-radius: 18px;
}

.product-card-image-title {
	font-weight: 600;
	font-family: sans-serif;
	margin-bottom: 6px;
}

.product-card-image-subTitle {
	color: #707072;
	font-family: sans-serif;
	margin-bottom: 14px;
}

.product-card-image-price {
	font-weight: 600;
	font-family: sans-serif;
	margin-bottom: 10px;
}

.footer-container {
	width: 100%;
	display: flex;
	border-top: 1px solid #000000;
	padding-top: 24px;
	justify-content: space-between;
}

.footer-column {
	display: flex;
	flex-direction: column;
	gap: 6px 0px;
}

.footer-column-element {
	font-family: sans-serif;
}

.header-cart {
	background-color: #f8f9fa;
	padding: 20px;
	text-align: center;
	max-width: 100%;
}

#shopping-cart {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.shopping-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	max-width: 100%;
}

.shopping-item img {
	width: 20%;
	min-width: 150px;
	border-radius: 8px;
}

.card-footer {
	background-color: #f8f9fa;
	padding: 20px;
	text-align: center;
}

.quantity-input {
	width: 50px;
	margin-right: 5px;
}

.auth-container {
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	max-width: 500px;
	border: 1px solid #000000;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	max-width: 500px;
}

.auth-container-header {
	padding: 20px;
	border-bottom: 1px solid #000000;
	background-color: #FAF9F6;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.auth-container-header-text {
	color: #000000;
	text-align: center;
}

.auth-form {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.auth-input {
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 20px;
}

.auth-input:focus {
	outline: none;
}

.auth-button {
	margin-top: 20px;
}

.auth-separator {
	display: flex;
	max-width: 100%;
	margin-top: 20px;
}

.auth-separator-hr {
	width: 100%;
	background: #000;
}

.auth-separator-text {
	margin-left: 10px;
	margin-right: 10px;
}

.product-detail-container {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #333;
	margin: 0 auto;
	max-width: 100%;
	display: flex;
	padding: 20px;
}

.product-detail-image {
	max-width: 100%;
	height: 400px;
	margin-right: 22px;
	margin-bottom: 20px;
	object-fit: contain;
}

.product-detail-info-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 100%;
}

.product-detail-info-title {
	font-size: 22px;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 12px;
}

.product-detail-info-description {
	max-width: 400px;
	font-size: 14px;
	line-height: 22px;
	color: gray;
}

.product-detail-category-container, .product-detail-gender-container,
	.product-detail-price-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin-right: 25%;
}

.product-detail-category-title, .product-detail-gender-title,
	.product-detail-price-title {
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.product-detail-category-subtitle, .product-detail-gender-subtitle,
	.product-detail-price-subtitle {
	font-size: 14px;
	line-height: 22px;
	color: gray;
}

.product-detail-button {
	margin-top: 20px;
}

@media ( max-width : 768px) {
	.product-detail-container {
		flex-direction: column;
	}
	.product-detail-image {
		height: auto;
		width: 100%;
	}
}

.oridini-container {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: space-around;
}

.ordini-column {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
	margin-bottom: 20px;
	text-align: center;
}

.ordini-column>input {
	margin-bottom: 10px;
}

.ordini-column-title {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: .35em;
}

table th, table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}
	table caption {
		font-size: 1.3em;
	}
	table thead {
		border: none;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}
	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table td:last-child {
		border-bottom: 0;
	}
	.ordini-column {
		margin: 0;
	}
}

.ordini-button {
	margin-bottom: 20px;
}

.error-message {
	color: red;
}